body {
  margin: 0;
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

.app {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.problems-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.problem-card {
  padding: 15px;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #ddd;
}

.problem-card:hover {
  background: #e9f5ff;
  transform: scale(1.02);
}

.difficulty {
  font-weight: bold;
}

.easy {
  color: green;
}

.medium {
  color: orange;
}

.hard {
  color: red;
}

.problem-details {
  text-align: left;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  background: black;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #222;
}
